.footer {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #eee;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.footer p {
  font-weight: bold;
   background: linear-gradient(135deg, #ff4500 0%, #ff6b35 100%);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  color: white;
  margin: 0;
  font-size: 1rem;
}
